.form{background-color: cornsilk;}
.carousel-caption d-none d-md-block {background-color: rgba 0,0,0,.6;}
#o {background-color: gold; border-width: 5px;border-style: double; border-color: greenyellow;border-radius: 20px;padding: 5px; margin: 5,5,5,1;}